.carousel-container {
  &__item {
    background-size: cover;
    background-position: center center;
  }

  &__indicators [data-bs-target] {
    border-radius: $carousel-border-radius;
    border-top: 0;
    border-bottom: 0;
  }

  &__inner {
    max-height: 500px;
  }
}

.carousel-indicators .active {
  background-color: $primary;
}
