.footer {
  background-color: $white;

  &__flex {
    height: 53px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    display: flex;
  }

  &__icon {
    margin-right: 20px;
  }

  p {
    color: $dark;
  }
}
