.submit-form {
  background-color: $light;
  padding: 2rem;
  font-size: 1.25em;
  box-shadow: $box-shadow;
  position: relative;

  &__website::before {
    display: flex;
    align-items: center;
    content: "https://";
    color: $white;
    background: $grey;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5rem;
    height: 3.5rem;
    border-radius: 0.25rem 0 0 0.25rem;
    padding-left: 10px;
  }
}

.form-check {
  display: flex;
  align-items: center;

  &__input {
    background-color: $primary;
    border: none;
    width: 34px;
    height: 33px !important;
    margin-right: 1rem;
    height: 3.5rem;
  }

  &__label {
    font-size: 0.7em;
  }
}

.submit-form input.form-control {
  height: 3.5rem;
}

.submit-form input.form-control-message {
  height: 224px;
}

.before {
  position: relative;
}

.btn-dark-grey {
  height: 58px;
  width: 100%;
  background-color: $dark-grey;
  color: white;
  font-size: 1.1em;
  text-align: center;
  margin-top: 1rem;
}
