html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background: $light;
  background-image: $background-gradient;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.wrapper {
  flex: 1 0 auto;
}
