.nav {
  height: 70px;

  &__link {
    color: $dark !important;
    padding-left: 30px !important;

    @media (min-width: $desktop) {
      padding: 0 10px !important;
      margin-right: 20px;
    }
  }

  &__link--active {
    background-color: $white;
  }

  &__logo {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: $primary !important;
    margin-right: 40px;
  }

  &__form {
    margin-bottom: 30px;
    padding: 10px 30px;

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &__form-control {
    border: none;
    border-radius: 5 px 0 0 5px;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-collapse {
  margin-top: 20px;
  background-color: $light;
  z-index: 4;

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}

.align-full {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @media (min-width: $desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.me-2 {
  margin-right: 0 !important;
}

.btn-outline-success {
  border-radius: 0 5px 5px 0;
  border: none;
  color: $white;
  background-color: $primary;
}
