.navbar {
  height: 70px;
}

.nav-link {
  color: $dark !important;
  padding: 0 30px;
  margin-right: 20px;
}

.active {
  background-color: $white;
  color: $dark;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: $primary !important;
  margin-right: 40px;
}

.navbar-toggler {
  border: none;
}

.navbar-collapse {
  width: 100%;
  background-color: $light;
  z-index: 1;
}

.form-control {
  border: none;
  border-radius: 5 px 0 0 5px;
}

.me-2 {
  margin-right: 0 !important;
}

.btn-outline-success {
  border-radius: 0 5px 5px 0;
  border: none;
  color: $white;
  background-color: $primary;
}
